{% extends "base.html" %}

{% block content %}
  <h1>Tienda de Productos - Tiendita</h1>

  <p>Bienvenido a la <em><strong>Tiendita</strong></em>, la mejor tienda de productos del país.</p>

  <div class="shadow p-3 mb-5 bg-white rounded w-50" >
    {% if form.email.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.email.errors }}
      </div>
    {% endif %}
    <form method="post" action="" class="form-group">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Ingresa tu correo electrónico</label>
        <input type="text" name={{ form.email.name }} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Nunca compartas tu correo.</small>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
{% endblock %}