{% extends "base.html" %}

{% block content %}
<h1>Tienda de Productos - Tiendita</h1>

<p>Bienvenido a la <em><strong>Tiendita</strong></em>, la mejor tienda de productos del país.</p>

<div class="shadow p-3 mb-5 bg-white rounded w-50" >
  <div class="alert alert-success" role="alert">
    <p>Si tienes una cuenta registrada con ese correo, recibirás un 
      enlace para restablecer tu contraseña. Revisa tu bandeja de 
      entrada o spam en unos minutos.</p>
  </div>
</div>
  
{% endblock %}