{% extends "base.html" %}

{% block content %}


<h1>Biblioteca</h1>

  <p>Bienvenido a la <em><strong>Biblioteca</strong></em></p>

      {% if validlink %}
      <div class="shadow p-3 mb-5 bg-white rounded w-50" >
        <div class="alert alert-primary" role="alert">
            <p>Ingresa y confirma tu nueva contraseña.</p>
        </div>
        <form method="post" action="" class="form-group">
            {% csrf_token %}
            {% if form.new_password1.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.new_password1.errors }}
                </div>
            {% endif %}
            <div class="form-group mb-3">
                <label for="exampleInputNewPass1">Ingresa tu nueva password</label>
                <input type="password" name={{ form.new_password1.name }} class="form-control" id="exampleInputNewPass1" aria-describedby="inputNewPass1" placeholder="Ingrese password"|>
                <small id="inputNewPass1" class="form-text text-muted"></small>
            </div>
            <div class="form-group mb-3">
                <label for="exampleInputNewPass2">Ingresa nuevamente tu nueva password</label>
                <input type="password" name={{ form.new_password2.name }} class="form-control" id="exampleInputNewPass2" aria-describedby="inputNewPass2" placeholder="Repite password"|>
                <small id="inputNewPass2" class="form-text text-muted"></small>
            </div>
            <button type="submit" class="btn btn-primary">Cambiar mi password</button>
    </div>
    {% else %}
    <div class="shadow p-3 mb-5 bg-white rounded w-50" >
        <div class="alert alert-danger" role="alert">
            <h2>Password reset failed</h2>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        </div>
    </div>
    {% endif %}

{% endblock content %}